* {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
    font-family: serif;
    font-family: 'Philosopher', sans-serif;
}

input {
    text-align: center;
}

header, footer {
	height: 90px;
    line-height: 80px;
    width: 100%;
	background: #98d8e9;
	font-size: 32px;	
    margin: 0 auto;
    text-align: center;
    border: solid 5px #00a2e8;
    font-weight: bold;
    color: #324ab2;
    position: fixed;
    font-size: 32px;
}

section {
    top: 90px;
    width: 100%;
	background: #b5e61d;
    position: fixed;
    overflow-y: scroll;
    display: block;
}

header {
    top: 0;
    font-family: 'Philosopher', sans-serif;
}
footer {
    bottom: 0;
    font-family: 'Caveat', cursive;
}

.tableUsers {
    width: 1040px;
    margin: 15px auto;
    border-color: #00a2e8;
    border-style: solid;
    border-top-width: 4px;
    border-right-width: 2px;
    border-bottom-width: 4px;
    border-left-width: 2px;
    border-spacing: 0;
    box-shadow: 3px 2px 4px #abc; 
    text-align: center;
}
.tableUsers input[type='text'] {
    width: 173px;
    padding: 2px;
}
.tableUsers th {
    width: 195px;
    border-top-width: 0px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
}
.tableUsers td {
    width: 195px;
    border-top-width: 1px;
    border-right-width: 2px;
    border-bottom-width: 0px;
    border-left-width: 2px;
}
.tableUsers td, .tableUsers th {
    padding: 5px;
    border-color: #00a2e8;
    border-style: solid;
    background: #e1f5a6;
}


#tableForm {
    position: fixed;
    top: 70px;
    z-index: 1;
}
#tableContent{
    position: absolute;
    top: 75px;
    z-index: 0;
}



#tableEdit {
    width: 350px;
    text-align: center;
}
#tableEdit th {
    width: 150px;
}
#tableEdit input {
    width: 200px;
}
#tableEdit input {
    padding: 2px;
    margin: 1px;
}

.btns {
    width: 85px;
    margin: 2px;
}
.edit_btns {
    width: 140px;
    margin: 10px 5px;
}
.btns, .edit_btns {
    background: #aed65e;
    border-radius: 3px;
    padding: 5px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 2px 2px 2px #797;
}
.btns:hover, .edit_btns:hover {
    background: #f1fad7;
}
.btns:active, .edit_btns:active  {
    background: #9acd32;
    box-shadow: 2px 2px 2px #797 inset;
}

.asc, .desc {
    display: inline-block;
    color: #006600;
    background: #aed65e;
    cursor: pointer;
    padding: 3px;
    margin: 0 5px 0 5px;  
    border-radius: 5px;
}